#####################################################################
# ⚡ TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: BJ42D22-23V01
voltage: 24
tuning_goal: performance

[autotune_tmc stepper_y]
motor: omc-17hs15-1504s
voltage: 24
tuning_goal: performance

[autotune_tmc stepper_z]
motor: BJ42D22-23V01
voltage: 24
tuning_goal: silent

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T
voltage: 24
tuning_goal: silent