[include shell_command.cfg]
[include mainsail.cfg]
[include leds.cfg]
[include print_start.cfg]
[include print_end.cfg]
[include Basic_Macros.cfg]
[include purge.cfg]
#[include shakentune.cfg] 
[include timelapse.cfg]
[include moonraker_obico_macros.cfg]
[exclude_object]
#[include klicky-probe.cfg]
# host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu
#[temperature_sensor CB1]
#sensor_type: temperature_mcu
#sensor_mcu: CB1

[mcu Toolhead]
canbus_uuid: b8ab25eda390
[temperature_sensor Toolhead]
sensor_type: temperature_mcu
sensor_mcu: Toolhead 

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571270E3118-if00
#[temperature_sensor mcu]
#sensor_type: temperature_mcu
#sensor_mcu: mcu

#[mcu scanner]
#canbus_uuid: 9eecbd08d026
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

#[scanner]
#mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
#x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
#y_offset: 20                         
#    adjust for your cartographers offset from nozzle to middle of coil
#backlash_comp: 0.06845
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
#sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
#sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
#mesh_runs: 2
#    Number of passes to make during mesh scan.

#[bed_mesh]
#zero_reference_position: 110, 110    
#    set this to the middle of your bed
#speed: 150
#    movement speed of toolhead during bed mesh
#horizontal_move_z: 5
#    height of scanner during bed mesh scan
#mesh_min: 10, 20
#mesh_max: 210, 210
#    end point of bed mesh [X, Y]
#probe_count: 30, 30
#algorithm: bicubic

#[temperature_sensor Cartographer_MCU]
#sensor_type: temperature_mcu
#sensor_mcu: scanner
#min_temp: 5
#max_temp: 105


[stepper_x]
step_pin: gpio11
dir_pin: gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: ^Toolhead: gpio24
position_endstop: 220
position_max: 220
homing_speed: 175
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.75
stealthchop_threshold: 999999

[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: gpio3
position_endstop: 0
position_max: 235
homing_speed: 175

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.96
stealthchop_threshold: 999999

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
#endstop_pin: ^gpio25
#position_endstop: 0.0
position_max: 200
position_min: -1
homing_speed: 100

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.75
stealthchop_threshold: 999999

#probe]
#pin: ^Toolhead: gpio28
#x_offset: 0
#y_offset: 21
#z_offset: 5.65
#speed: 5
#lift_speed: 7
#samples: 6
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.02
#samples_tolerance_retries: 10

[safe_z_home]
home_xy_position: 110, 110
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed.
speed: 150
z_hop: 50

#[safe_z_home]
#home_xy_position: 187, 235 # Change coordinates to the center of your print bed
#speed: 200
#z_hop: 50               # Move up 10mm
#z_hop_speed: 150

#[bed_mesh]
#speed: 150
#horizontal_move_z: 10
#mesh_min: 5, 26
#mesh_max: 210, 210
#probe_count: 6,6
#mesh_pps: 2, 3
#algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0


[extruder]
step_pin:   Toolhead:  gpio18
dir_pin:    Toolhead:  gpio19
enable_pin: !Toolhead:  gpio17
microsteps: 32
gear_ratio: 50:10 
rotation_distance: 22.77481956209 #26.8065202002 #44.677533667 
max_extrude_only_distance: 101
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: Toolhead: gpio7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Toolhead: gpio27
#control: pid
#pid_Kp: 21.623 
#pid_Ki: 1.153 
#pid_Kd: 101.358
min_extrude_temp: 150
min_temp: 0
max_temp: 280
pressure_advance: 0.03

[tmc2209 extruder]
uart_pin: Toolhead: gpio20
run_current: 0.650
stealthchop_threshold: 999999

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 35
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.




[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130


[temperature_fan controller_fan]
pin: gpio17
cycle_time:0.1
max_power: 1.00
kick_start_time: 0.200
off_below: 0.1
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 85
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.8
target_temp: 42

[output_pin nevermore]
pin: gpio18
value: 0
shutdown_value: 0

[heater_fan hotend_fan]
pin: Toolhead: gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: Toolhead: gpio13
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10


#[heater_fan controller_fan]
#pin: gpio20

[temperature_sensor pico]
sensor_type: temperature_mcu

[printer]
kinematics: corexz
max_velocity: 175
max_accel: 1000
max_z_velocity: 50
max_z_accel: 30

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 219.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 219.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 50   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode: 


#[adxl345]
#cs_pin: Toolhead: gpio1
#spi_software_sclk_pin: Toolhead: gpio0
#spi_software_mosi_pin: Toolhead: gpio3
#spi_software_miso_pin: Toolhead: gpio2
#[resonance_tester]
#accel_chip:adxl345
#probe_points:
#    150,150,20

#[neopixel board_neopixel]
#pin: gpio24
#chain_count: 1
#color_order: GRB
#initial_RED: 0.3
#initial_GREEN: 0.3
#initial_BLUE: 0.3

#[bltouch]
#sensor_pin: gpio22
#control_pin: gpio29

#[filament_switch_sensor runout_sensor]
#switch_pin: ^gpio16

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.236
#*# pid_ki = 0.992
#*# pid_kd = 103.206
#*#
#*# [scanner model default]
#*# model_coef = 1.3929056631613694,
#*# 	1.8596406863757637,
#*# 	0.7589477245311812,
#*# 	0.1523415383526044,
#*# 	0.5302192664553146,
#*# 	1.1107675551074518,
#*# 	-0.64192762688643,
#*# 	-1.3658680119465685,
#*# 	0.509670101895399,
#*# 	0.6950534370517378
#*# model_domain = 3.1968051898963543e-07,3.311280529366397e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 25.798717
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1250
#*# scanner_touch_speed = 3
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.734
#*# pid_ki = 1.510
#*# pid_kd = 924.830
#*#
#*# [scanner model fabreeko-satin]
#*# model_coef = 1.4873790692334432,
#*# 	1.8492443539880057,
#*# 	0.7261756455958301,
#*# 	0.3289703511375061,
#*# 	0.6205043612755118,
#*# 	0.3480071695813029,
#*# 	-0.7389920126567526,
#*# 	-0.2905251131437043,
#*# 	0.5548838284269972,
#*# 	0.21587395564500103
#*# model_domain = 3.1943872982409424e-07,3.311662524674425e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 24.272762
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
