[include shell_command.cfg]
[include mainsail.cfg]
[include leds.cfg]
[include print_start.cfg]
[include print_end.cfg]
[include Basic_Macros.cfg]
[include purge.cfg]
#[include shakentune.cfg] 
[include timelapse.cfg]
[include moonraker_obico_macros.cfg]
[exclude_object]
#[include klicky-probe.cfg]
# host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu
#[temperature_sensor CB1]
#sensor_type: temperature_mcu
#sensor_mcu: CB1

[mcu Toolhead]
canbus_uuid: b8ab25eda390
[temperature_sensor Toolhead]
sensor_type: temperature_mcu
sensor_mcu: Toolhead 

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571270E3118-if00
#[temperature_sensor mcu]
#sensor_type: temperature_mcu
#sensor_mcu: mcu

[mcu scanner]
canbus_uuid: 9eecbd08d026
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 20                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 110, 110    
#    set this to the middle of your bed
speed: 150
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 10, 20
mesh_max: 210, 210
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105


[stepper_x]
step_pin: gpio11
dir_pin: gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: ^Toolhead: gpio24
position_endstop: 220
position_max: 220
homing_speed: 175
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.75
stealthchop_threshold: 999999

[stepper_y]
step_pin: gpio6
dir_pin: gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: gpio3
position_endstop: 0
position_max: 235
homing_speed: 175

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.96
stealthchop_threshold: 999999

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
#endstop_pin: ^gpio25
#position_endstop: 0.0
position_max: 200
homing_speed: 100

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.75
stealthchop_threshold: 999999

#probe]
#pin: ^Toolhead: gpio28
#x_offset: 0
#y_offset: 21
#z_offset: 5.65
#speed: 5
#lift_speed: 7
#samples: 6
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.02
#samples_tolerance_retries: 10

[safe_z_home]
home_xy_position: 110, 110
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed.
speed: 150
z_hop: 50

#[safe_z_home]
#home_xy_position: 187, 235 # Change coordinates to the center of your print bed
#speed: 200
#z_hop: 50               # Move up 10mm
#z_hop_speed: 150

#[bed_mesh]
#speed: 150
#horizontal_move_z: 10
#mesh_min: 5, 26
#mesh_max: 210, 210
#probe_count: 6,6
#mesh_pps: 2, 3
#algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0


[extruder]
step_pin:   Toolhead:  gpio18
dir_pin:    !Toolhead:  gpio19
enable_pin: !Toolhead:  gpio17
microsteps: 32
gear_ratio: 50:10 
rotation_distance: 44.677533667 
max_extrude_only_distance: 101
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: Toolhead: gpio7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: Toolhead: gpio27
control: pid
pid_Kp: 21.623 
pid_Ki: 1.153 
pid_Kd: 101.358
min_temp: 0
max_temp: 280
pressure_advance: 0.03

[tmc2209 extruder]
uart_pin: gpio20
run_current: 0.650
stealthchop_threshold: 999999

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 35
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.




[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130


[temperature_fan controller_fan]
pin: gpio17
cycle_time:0.1
max_power: 1.00
kick_start_time: 0.200
off_below: 0.1
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 85
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.8
target_temp: 42

[heater_fan hotend_fan]
pin: Toolhead: gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: Toolhead: gpio13
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10


#[heater_fan controller_fan]
#pin: gpio20

[temperature_sensor pico]
sensor_type: temperature_mcu

[printer]
kinematics: corexz
max_velocity: 175
max_accel: 1000
max_z_velocity: 50
max_z_accel: 30

#[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 219.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 219.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 50   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

#[adxl345]
#cs_pin: Toolhead: gpio1
#spi_software_sclk_pin: Toolhead: gpio0
#spi_software_mosi_pin: Toolhead: gpio3
#spi_software_miso_pin: Toolhead: gpio2
#[resonance_tester]
#accel_chip:adxl345
#probe_points:
#    150,150,20

#[neopixel board_neopixel]
#pin: gpio24
#chain_count: 1
#color_order: GRB
#initial_RED: 0.3
#initial_GREEN: 0.3
#initial_BLUE: 0.3

#[bltouch]
#sensor_pin: gpio22
#control_pin: gpio29

#[filament_switch_sensor runout_sensor]
#switch_pin: ^gpio16

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3196472.197,0.090000:3196233.680,0.130000:3195447.285,
#*# 	0.170000:3194747.366,0.210000:3194019.325,0.250000:3193322.278,
#*# 	0.290000:3192636.990,0.330000:3191937.268,0.370000:3191251.911,
#*# 	0.410000:3190600.977,0.450000:3189903.531,0.490000:3189253.707,
#*# 	0.530000:3188677.061,0.570000:3188041.427,0.610000:3187448.099,
#*# 	0.650000:3186862.551,0.690000:3186272.730,0.730000:3185697.455,
#*# 	0.770000:3185070.765,0.810000:3184542.105,0.850000:3183969.416,
#*# 	0.890000:3183459.563,0.930000:3182918.869,0.970000:3182410.538,
#*# 	1.010000:3181917.048,1.050000:3181417.161,1.090000:3180927.379,
#*# 	1.130000:3180461.667,1.170000:3180031.936,1.210000:3179562.794,
#*# 	1.250000:3179122.314,1.290000:3178675.043,1.330000:3178263.295,
#*# 	1.370000:3177854.361,1.410000:3177368.181,1.450000:3176972.358,
#*# 	1.490000:3176596.180,1.530000:3176207.329,1.570000:3175801.679,
#*# 	1.610000:3175428.718,1.650000:3175047.022,1.690000:3174651.131,
#*# 	1.730000:3174330.139,1.770000:3173985.942,1.810000:3173633.650,
#*# 	1.850000:3173301.027,1.890000:3172948.035,1.930000:3172602.209,
#*# 	1.970000:3172293.441,2.010000:3171957.150,2.050000:3171659.544,
#*# 	2.090000:3171334.293,2.130000:3171037.225,2.170000:3170749.335,
#*# 	2.210000:3170441.668,2.250000:3170150.297,2.290000:3169859.510,
#*# 	2.330000:3169614.008,2.370000:3169375.430,2.410000:3169080.844,
#*# 	2.450000:3168866.757,2.490000:3168606.752,2.530000:3168350.704,
#*# 	2.570000:3168093.604,2.610000:3167880.514,2.650000:3167642.550,
#*# 	2.690000:3167391.686,2.730000:3167161.740,2.770000:3166936.968,
#*# 	2.810000:3166706.184,2.850000:3166473.891,2.890000:3166252.821,
#*# 	2.930000:3166039.640,2.970000:3165842.417,3.010000:3165618.195,
#*# 	3.050000:3165447.431,3.090000:3165232.764,3.130000:3165031.946,
#*# 	3.170000:3164829.586,3.210000:3164647.513,3.250000:3164453.611,
#*# 	3.290000:3164269.386,3.330000:3164076.315,3.370000:3163891.396,
#*# 	3.410000:3163706.746,3.450000:3163533.149,3.490000:3163359.101,
#*# 	3.530000:3163179.143,3.570000:3163032.197,3.610000:3162878.437,
#*# 	3.650000:3162648.977,3.690000:3162545.821,3.730000:3162416.044,
#*# 	3.770000:3162264.414,3.810000:3162120.237,3.850000:3161943.853,
#*# 	3.890000:3161809.606,3.930000:3161670.729,3.970000:3161536.602,
#*# 	4.010000:3161388.252,4.050000:3161223.770
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 33.097368
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.951849, 0.792069, 0.667002, 0.551215, 0.461422, 0.383920, 0.329184, 0.280096, 0.269620
#*# 	0.956633, 0.784216, 0.635076, 0.497750, 0.398595, 0.329406, 0.259798, 0.199473, 0.163352
#*# 	0.909920, 0.730556, 0.593250, 0.452574, 0.352818, 0.264716, 0.196182, 0.129152, 0.098283
#*# 	0.906593, 0.749455, 0.584302, 0.427819, 0.320194, 0.213937, 0.139511, 0.061344, 0.018861
#*# 	0.885511, 0.691160, 0.534670, 0.384109, 0.269621, 0.154714, 0.071726, -0.014153, -0.068160
#*# 	0.865942, 0.686003, 0.508992, 0.347312, 0.213869, 0.094687, -0.005075, -0.098858, -0.166820
#*# 	0.830921, 0.617300, 0.447295, 0.280907, 0.149763, 0.032831, -0.077486, -0.183312, -0.256080
#*# 	0.809908, 0.611108, 0.423421, 0.239260, 0.102095, -0.026640, -0.142039, -0.255186, -0.342837
#*# 	0.768296, 0.536977, 0.351998, 0.178718, 0.037594, -0.103478, -0.215794, -0.331089, -0.422003
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 205.0
#*# min_y = 21.42
#*# max_y = 198.53999999999996
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.967
#*# pid_ki = 1.425
#*# pid_kd = 959.717


